@import url("https://fonts.googleapis.com/css?family=Ubuntu");
@import url("https://fonts.googleapis.com/css?family=Ubuntu+Mono");

body {
  /*  background: linear-gradient(45deg, #57003f 0%,#f57453 100%);*/
  background: url(img/kali.jpg);
  font-family: Ubuntu;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
  margin: 0;
  /*  background-color: #de4c12;*/
}

#fullscreen {
  display: none;
}

#header {
  height: 18px;
  background-color: rgba(56, 56, 56, 0.5);
  color: white;
  padding: 8px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 2px solid black;
}

#header__left {
  width: 50%;
  display: flex;
  align-items: center;
}

#header__right {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 3px;
}

.header__current_workspace {
  background-color: rgba(10, 10, 10, 0.5);
  width: 50px;
  height: 32px;
  border-right: solid 1px rgba(56, 56, 56, 0.5);
}

.header__current_workspace:hover {
  /* background-color: #3c3b37; */
}

.header__new_workspace {
  width: 50px;
  height: 32px;
  /* border-right: solid 1px rgba(56, 56, 56, 0.5); */
}

.header__new_workspace:hover {
  background-color: rgba(10, 10, 10, 0.5);
}

.header__opened_window {
  background-color: rgba(10, 10, 10, 0.5);
  border-left: 5px solid rgb(12, 12, 12);
  border-top: 5px solid #2366ca;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 10px;
  font-size: 8pt;
  height: 30px;
  white-space: nowrap;
  padding-right: 5px;
}

.header__opened_window:hover {
  background-color: rgba(10, 10, 10, 0.5);
}

.header__current_window.sm {
  width: 18px;
  padding: 8px;
}

.header__icon {
  padding: 5px;
}

.header__icon:hover {
  background-color: #3c3b37;
}

.header__icon.lg {
  width: 24px;
}

.header__icon.md {
  width: 24px;
}

.header__icon.sm {
  width: 18px;
  padding: 8px;
}

.header__icon.xm {
  width: 12px;
  padding: 10px;
}

.header__icon.invert {
  filter: invert(100%) sepia(16%) saturate(7463%) hue-rotate(222deg) brightness(119%) contrast(115%);
}

#clock {
  cursor: default;
  margin-right: 10px;
  padding: 8px;
}

#clock:hover {
  cursor: default;
  background-color: #3c3b37;
}

.vr {
  border-left: 1px solid rgb(255, 255, 255);
  height: 20px;
  margin: 0 10px;
}

.vr.left {
  margin-left: 20px;
}

.vr.right {
  margin-right: 20px;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 8px;
}

.terminal {
  position: absolute;
  z-index: 9;
  min-height: 10vh;
  min-width: 10vw;
  width: 56vw;
  height: 56vh;
  top: 20vh;
  resize: both;
  overflow: hidden;
  max-height: 100vh;
  max-width: 100vw;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.5);
}

.terminal__bar {
  cursor: move;
  z-index: 10;
  display: flex;
  width: 100%;
  height: 30px;
  align-items: center;
  padding: 0 8px;
  box-sizing: border-box;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: linear-gradient(#504b45 0%, #3c3b37 100%);
}
#bar__buttons {
  display: flex;
  align-items: center;
}

.bar__button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-right: 5px;
  font-size: 8px;
  height: 12px;
  width: 12px;
  box-sizing: border-box;
  border: none;
  border-radius: 100%;
  background: linear-gradient(#7d7871 0%, #595953 100%);
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2);
  box-shadow: 0px 0px 1px 0px #41403a, 0px 1px 1px 0px #474642;
}
.bar__button:hover {
  cursor: pointer;
}
.bar__button:focus {
  outline: none;
}
#bar__button--exit {
  background: linear-gradient(#f37458 0%, #de4c12 100%);
  background-clip: padding-box;
}

#bar__user {
  color: #d5d0ce;
  margin-left: 6px;
  font-size: 14px;
  line-height: 15px;
}

.terminal__body {
  background: rgba(56, 56, 56, 0.9);
  /* font-family: 'Fira Mono'; */
  font-size: 14px;
  height: calc(100% - 30px);
  padding: 15px;
  margin-top: -1px;
}

.terminal__prompt {
  display: flex;
  margin-top: 10px;
}
.terminal__prompt--user {
  color: #7eda28;
}
.terminal__prompt--at {
  color: #595953;
}
.terminal__prompt--hostname {
  color: mediumorchid;
}
.terminal__prompt--location {
  color: #4878c0;
}
.terminal__prompt--bling {
  color: #dddddd;
}
.terminal__prompt--text {
  color: #ffffff;
}
.terminal__prompt--cursor {
  display: block;
  height: 17px;
  width: 8px;
  margin-left: 9px;
  animation: blink 1200ms linear infinite;
}
.terminal__prompt--header {
  background-color: #dddddd;
}

@keyframes blink {
  0% {
    background: #ffffff;
  }
  49% {
    background: #ffffff;
  }
  60% {
    background: transparent;
  }
  99% {
    background: transparent;
  }
  100% {
    background: #ffffff;
  }
}

@media (max-width: 600px) {
  .terminal {
    max-height: 90%;
    width: 90%;
  }
}

HTML CSS Result Skip Results Iframe EDIT ON div.cap {
  display: block;
  height: 100px;
  width: 40px;
  background: url(https://fivera.net/wp-content/uploads/2013/08/dock-background-fivera-net.png) bottom left no-repeat;
}

div.cap.left {
  position: absolute;
  bottom: 0px;
  left: 0px;
}

div.cap.right {
  background-position: right bottom;
  position: absolute;
  top: 0px;
  right: 0px;
}

ul.osx-dock {
  display: inline-block;
  height: 130px;
  padding: 0 40px 0 0;
  background: url(https://fivera.net/wp-content/uploads/2013/08/dock-background-fivera-net.png) no-repeat right bottom;
  overflow: hidden;
  margin: 0 0 0 40px;
}

.dock-icon {
  width: 48px;
}

ul.osx-dock li {
  display: block;
  position: relative;
  float: left;
  width: 50px;
  height: 50px;
  margin: 60px 0 4px 0;

  -webkit-transition: 0.15s linear;
  -moz-transition: 0.15s linear;
  -o-transition: 0.15s linear;
  -ms-transition: 0.15s linear;
  transition: 0.15s linear;

  -webkit-transition-property: -webkit-transform margin;
  -moz-transition-property: -moz-transform margin;
  -o-transition-property: -o-transform margin;
  -ms-transition-property: -ms-transform margin;
  transition-property: transform margin;
  text-align: center;
}

ul.osx-dock li a {
  display: block;
  height: 50px;
  padding: 0 1px;

  -webkit-transition: 0.15s linear;
  -moz-transition: 0.15s linear;
  -o-transition: 0.15s linear;
  -ms-transition: 0.15s linear;
  transition: 0.15s linear;

  -webkit-transition-property: -webkit-transform margin;
  -moz-transition-property: -moz-transform margin;
  -o-transition-property: -o-transform margin;
  -ms-transition-property: -ms-transform margin;
  transition-property: transform margin;
  margin: 0;
  -webkit-box-reflect: below 2px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.45, transparent), to(rgba(255, 255, 255, 0.25)));
}

ul.osx-dock li:hover {
  margin-left: 9px;
  margin-right: 9px;
  z-index: 200;
}

ul.osx-dock li:hover a {
  -webkit-transform-origin: center bottom;
  -moz-transform-origin: center bottom;
  -o-transform-origin: center bottom;
  -ms-transform-origin: center bottom;
  transform-origin: center bottom;

  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -o-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
}

ul.osx-dock li.nearby {
  margin-left: 6px;
  margin-right: 6px;
  z-index: 100;
}

ul.osx-dock li.nearby a {
  -webkit-transform-origin: center bottom;
  -moz-transform-origin: center bottom;
  -o-transform-origin: center bottom;
  -ms-transform-origin: center bottom;
  transform-origin: center bottom;

  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -o-transform: scale(1.25);
  -ms-transform: scale(1.25);
  transform: scale(1.25);
}

ul.osx-dock li span {
  background: rgba(0, 0, 0, 0.75);
  position: absolute;
  bottom: 80px;
  margin: 0 auto;
  display: none;
  width: auto;
  font-size: 11px;
  font-weight: bold;
  padding: 3px 6px;
  border-radius: 6px;
  color: #fff;
}

ul.osx-dock li:hover span {
  display: block;
}

div#dockContainer {
  position: fixed;
  bottom: 65px;
  height: 120px;
  padding: 50px 0 0;
  text-align: center;
  border-radius: 6px;
  width: 100%;
  line-height: 1;
  z-index: 100;
}

div#dockWrapper {
  width: auto;
  display: inline-block;
  position: relative;
  border-bottom: solid 2px rgba(255, 255, 255, 0.35);
  line-height: 0;
}

@media screen and (max-width: 480px) {
  .vr {
    height: 10px;
    margin: 0 5px;
  }

  .header__icon {
    padding: 3px !important;
  }

  .header__icon.lg {
    width: 8px;
  }

  .header__icon.md {
    width: 8px;
  }

  .header__icon.sm {
    width: 6px;
  }

  .header__icon.xm {
    width: 3px;
  }

  .header__current_window.sm {
    width: 6px;
  }

  .header__opened_window {
    font-size: 4pt;
  }

  .header__opened_window {
    padding: 0 10px;
  }

  #clock {
    font-size: 4pt;
  }

  .dock-icon {
    width: 28px;
  }

  ul.osx-dock li {
    width: 38px;
  }

  .terminal__body {
    font-size: 12px;
  }
}

@media screen and (min-width: 481px) and (max-width: 800px) {
  .header__icon.lg {
    width: 12px;
  }

  .header__icon.md {
    width: 12px;
  }

  .header__icon.sm {
    width: 9px;
  }

  .header__icon.xm {
    width: 6px;
  }

  .header__current_window.sm {
    width: 9px;
  }

  .header__opened_window {
    font-size: 6pt;
  }

  #clock {
    font-size: 6pt;
  }
}
